server:
  port: 8080

spring:
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
  datasource:
    platform: postgres
    url: jdbc:postgresql://postgresqldb:5432/kikundi
    username: postgres
    password: shady987654321
    driverClassName: org.postgresql.Driver